/* PROPIEDAD ORDER
  Sirve para ordenar los contenedores
  • Por defecto todos valen 0
  • acepta valores negativos
*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  /*el padding y el borde se resta al contenido (nunca excede el tamaño)*/
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%
}

body {
  background-color: lightgray;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  border: 20px solid white;
  height: 100vh; /*el 100% de mi viewport*/
  font-size: 20px;
  /*FLEX*/
  /*Display fexible*/
  display: flex;
  flex-direction: row; /*Disposicion en filas (por defecto)*/
}

div[class*="item-"] {
  background: #a672ef;
  padding: 10px;
  text-align: center;
  border: 2px solid #e7e8f3;
  /*FLEX*/
  flex-grow: 1; /*Reparte el espacio restante entre los elementos*/
}

div[class*="item-"]:nth-child(odd) {
  background-color: #e2703c;
  color: white;
}

@media (max-width: 768px) {
  /*Selecciono el elemento 5*/
  div[class*="item-"]:nth-child(5) {
    background-color: red;
    order: 1; /*Aaparece el elemento a la derecha*/
  }

  /*Selecciono el elemento 5*/
  div[class*="item-"]:nth-child(5) {
    background-color: red;
    /*Aparece el elemento a la derecha (porque por defceto todos valen 0)*/
    order: 2;
  }

  /*Selecciono el elemento 7*/
  div[class*="item-"]:nth-child(7) {
    background-color: yellow;
    /*Aparece el elemento a la derecha (porque por defceto todos valen 0)*/
    order: 1;

  }

  /*Selecciono el elemento 7*/
  div[class*="item-"]:nth-child(3) {
    background-color: black;
    /*Aparece el elemento a la izquierda (porque por defecto todos valen 0)*/
    order: -1;
  }
}
